.stats-container {
  width: 25rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .games {
    position: relative;
    width: calc(23rem / 3);
    height: calc(23rem / 3);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h3,
    h4 {
      text-align: center;
      font-size: 1.25rem;
    }
  }
  .you-win {
    background: #064663;
  }
  .ties {
    background: #eadede;
  }
  .adversary-win {
    background: #ecb365;
  }
}
