@mixin signin {
  @media (max-width: 1024px) {
    .sign-in-container{
      .sign-in-wrapper{
        width: 50vh;
        height: 50vh;
        .sign-in-title{
          font-size: 4.5vh;
        }
        .sign-in-button{
          width: 15vh;
          height: 3.5vh;
          font-size: 1vh;
          & > img{
            width: 1vh;
            height: 1vh;
            margin-right: .5vh;
          }
        }
        .skip{
          font-size: 1vh;
          margin-top: 1vh;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .sign-in-container{
      .sign-in-wrapper{
        width: 70vw;
        height: 50vh;
        .sign-in-title{
          font-size: 4.5vh;
        }
        .sign-in-button{
          width: 15vh;
          height: 3.5vh;
          font-size: 1vh;
          & > img{
            width: 1vh;
            height: 1vh;
            margin-right: .5vh;
          }
        }
        .skip{
          font-size: 1vh;
          margin-top: 1vh;
        }
      }
    }
  }
  @media (aspect-ratio: 5 / 4), (aspect-ratio: 1 / 1){
    .sign-in-container{
      .sign-in-wrapper{
        width: 70vw;
        height: 70vw;
        .sign-in-title{
          font-size: 8vw;
        }
        .sign-in-button{
          width: 26vw;
          height: 6vw;
          font-size: 1.5vw;
          & > img{
            width: 1.5vw;
            height: 1.5vw;
            margin-right: 1vw;
          }
        }
        .skip{
          font-size: 1.5vw;
          margin-top: 1.5vw;
        }
      }
    }
  }
}
@mixin Users {
  @media (max-width: 1024px) {
    .bg-container{
      .users-container{
        width: 41vh;
        height: 41vh;
        .users-title{
          font-size: 3vh;
          & > i{
            top: 1.5vh;
            right: 1.5vh;
            font-size: 2vh;
          }
        }
        .users-wrapper{
          .user{
            display: flex;
            align-items: center;
            height: 6vh;
            .photo-user{
              height: 80%;
              margin: 0 2vh;
            }
            .user-data{
              .user-name{
                font-size: 1.5vh;
              }
              & > div{
                .invite{
                  width: 4vh;
                  &::before{
                    bottom: .3vh;
                    font-size: 1vh;
                  }
                  &:hover{
                    &::before{
                      transform: translateY(.3vh);
                      transition: .2s;
                    }
                  }
                }
              }
            }
            .online-wrapper{
              .online{
                background: green;
                width: .8vh;
                height: .8vh;
              }
            }
          }
        }
      }
    }
  }
}

@mixin nav () {
  @media (max-width: 1024px) {
    .nav-container{
      .signed{
        width: 100%;
        height: 3.1rem;
        flex-direction: row;
        justify-content: right;
        .photo-user{
          width: unset;
          height: 80%;
          margin-top: unset;
        }
        .sign-out{
          margin-right: 2rem;
        }
      }
    }
  }
}