.sign-in-button{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  background: #fff;
  color: #555;
  border: none;
  outline: none;
  width: 12rem;
  height: 2.8rem;
  font-size: .85rem;
  box-shadow: 0 .6rem 1.1rem -.5rem #000;
  cursor: pointer;
  &:hover, &:active{
    filter: brightness(90%);
  }
  & > img{
      width: .85rem;
      height: .85rem;
      margin-right: .5rem;
  }
}