@use "../../../sass/mixin";

.start-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem;
  width: 25rem;
  .start-game {
    @include mixin.buttons();
    &:nth-child(1) {
      &::before {
        content: "Play With a Friend";
      }
    }
    &:nth-child(2) {
      &::before {
        content: "New Game";
      }
    }
  }
}
